<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AWSAccessKey" value="[AWSAccessKey]"/>
    <add key="AWSSecretKey" value="[AWSSecretKey]"/>
    <add key="BucketName" value="[BucketName]"/>
    <add key="FileName" value="screenshot.png"/>
    <add key="Username" value="[Username]"/>
    <add key="Password" value="[Password]"/>
  </appSettings>
  <connectionStrings>
    <add name="MySql" connectionString="server=localhost;user=user;password=password;database=database;"
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>